
<h2>{{profile.name}}'s Recent Posts</h2>
<div class="recent-posts">
  {{#each recentposts}}
    <figure class="recent-posts_post">
      <a href={{this.link}}>
        <img class="recent-posts_post_img" src={{this.image}} alt="post image" />
      </a>
      {{!-- <span class="post-date">{{this.createdAt}}</span> --}}
      <figcaption>
        <a href={{this.link}}>{{this.link}}</a>
      </figcaption>
    </figure>
  {{/each}}
</div>
