
<div class="social-links">
  <h2 class="social-links_title">{{profile.name}}'s links:</h2>
  <ul class="social-links_list">
    {{#each socialLinks}}
      <li class="social-links_list_item">
        {{#if this.isEnable}}
        <a class="social-links_list_item_link" href="{{this.link}}">{{this.label}}</a>
        {{else}}
        <a class="social-links_list_item_link" href="#" style="color:gray">{{this.label}}</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
